<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'userhome' %}"><img src="{% static 'images/icon.png' %}" width="150"
          height="50" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="margin-left: 10px;">
              Categories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for c in catagery %}
              <a class="dropdown-item" href="{% url 'category_list' c.id %}">{{c.Catagery}}</a>
              {% endfor %}
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'userprofile' %}">Profile <img
                src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/profile-52e0dc.svg"
                alt=""></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="  {% url 'userlogout' %}">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=" {% url 'cart_list' %}">Cart
              <img
                src="	https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/header_cart-eed150.svg"
                alt=""></a>
          </li>


        </ul>
      </div>
    </div>
  </nav>


  <h1 style="text-align: center;">Cart</h1><br>
  <div class="table-responsive-sm">
    <table class="table table-light">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Subtotal</th>
          <th scope="col">Remove</th>

        </tr>

      </thead>
      <tbody>
        {% for a in cart_list %}

        <tr>
          <td><img src="{{a.product.Image.url}}" height="80" width="80" class="img-fluid"></td>
          <td>{{a.product.Product_name}}</td>
          <td>{{a.product.Description}}</td>
          <td>₹{{a.product.Price}}</td>
          <td>

            <a href="{% url 'Decrease_quantity' a.product.id %}" class="btn btn-sm btn-danger ml-2"><i
                class="fas fa-minus"></i></a>
            {{a.product_quantity}}
            <a href="{% url 'Increase_quantity' a.product.id %}" class="btn btn-sm btn-primary ml-2"><i
                class="fas fa-plus"></i></a>


          </td>
          <td>₹{{a.total_price}}</td>
          <td><a href="{% url 'remove_cart' a.product.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
        </tr>
      </tbody>
      {% endfor %}



      <td>
        <h3> Total: ₹{{total_price}}</h3>
      </td>
    </table>

  </div>





  <footer class="text-light pt-5 pb-4 mt-5" style="background-color: rgb(19, 76, 126)" ;>
    <div class="container">
      <div class="row">
        <div class="col">
          <h5 class="text-warning text-uppercase">About Us</h5>
          <ul class="list-unstyled">
            <li><a class="text-decoration-none text-light" href="">about us</a></li>
            <li><a class="text-decoration-none text-light" href="">contact us</a></li>
            <li><a class="text-decoration-none text-light" href="">careers</a></li>
            <li><a class="text-decoration-none text-light" href="">Corparate Information</a></li>
          </ul>
        </div>

        <div class="col">
          <h5 class="text-warning text-uppercase">Group Companies</h5>
          <ul class="list-unstyled">
            <li><a class="text-decoration-none text-light" href="">Myntra</a></li>
            <li><a class="text-decoration-none text-light" href="">Cleartrip</a></li>
            <li><a class="text-decoration-none text-light" href="">shopsy</a></li>
            <li><a class="text-decoration-none text-light" href="">vdart</a></li>
          </ul>
        </div>

        <div class="col">
          <h5 class="text-warning text-uppercase">Mail us</h5>
          <p>☏Phone: 9988789975</p>
          <p>Mail Us: Ecommerce PVT ecommercepvt@.in</p>
        </div>

        <div class="col col-lg-3 text-lg-center ">
          <h5 class="text-warning text-uppercase">Social Media Partner</h5>
          <div class="mt-5">
            <a href="" class="text-light mx-2"><i class="fa-brands fa-facebook fa-2xl"></i></a>
            <a href="" class="text-light mx-2"><i class="fa-brands fa-instagram fa-2xl"></i></a>
            <a href="" class="text-light mx-2"><i class="fa-brands fa-twitter fa-2xl"></i></a>
            <a href="" class="text-light mx-2"><i class="fa-brands fa-youtube fa-2xl"></i></a>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <p class="text-center">&copy;Ecommerce Private Limited of India </p>
  </footer>


</body>

</html>

<!-- content -->