<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="icon" href="./icon.png">
    <title>Document</title>
</head>
<style>
  footer{
    margin-top: 200px;
  }
  
  .row a{
        text-decoration: none;
        color: aliceblue;
    }
    .row p :hover{
        color: yellow;
    }
</style>
<body  class="d-flex flex-column min vh 100">
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'admin_home' %}"> Admin Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" href="{% url 'add_cata' %}">catagory</a>
              <a class="nav-link active" href="{% url 'add_product' %}">Products</a>
              <a class="nav-link active" href="{% url 'cata_detail' %}">catagery Detials</a>
              <a class="nav-link active" href="{% url 'show_product' %}">product Detials</a>
              <a class="nav-link active" href="{% url 'customer_detail' %}">customer Detials</a>
              <a class="nav-link active" href="{% url 'logout' %}">logout</a>
            </div>
          </div>
        </div>
      </nav>





<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/d9290fb51138d286.png?q=20"
              class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
          <img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/e7554fcdb3042316.jpg?q=20"
              class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
          <img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/7c6cf1a109b087d2.jpg?q=20"
              class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
          <img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/8817d510570b945b.jpg?q=20"
              class="d-block w-100" alt="...">
      </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>


<h1 class="text-center text-success mt-5">welcome Admin</h1>


<h2 class="text-center text-success mt-5">Here we Add Product And Catagorys</h2>

<footer class=" bg-dark text-light mt-5">
  <div class="container">
      <div class="row">
          <div class="col mt-5">
              <h6 class="text-secondary ">About</h6>
              <p><a href="">contact us</a></p>
              <p><a href="">about us</a></p>
              <p><a href="">career</a></p>
              <p><a href="">corparation information</a></p>

          </div>
          <div class="col  mt-5">
              <h6 class="text-secondary">group companys</h6>
              <p><a href="">myntra</a></p>
              <p><a href="">shopify</a></p>
              <p><a href="">clipy</a></p>


          </div>
          <div class="col  mt-5">
              <h6 class="text-secondary">Help</h6>
              <p><a href="">payment</a></p>
              <p><a href="">shipping</a></p>
              <p><a href="">cancelation & Return</a></p>
              <p><a href="">FAQ</a></p>
              <div>
                  <h6 class="text-secondary">Social</h6>
                  <a href=""><i class="fa-brands fa-instagram"></i></a>
                  <a href=""><i class="fa-brands fa-twitter"></i></a>
                  <a href=""><i class="fa-brands fa-facebook"></i></a>
              </div>
          </div>
          <div class="col  mt-5">
              <h6 class="text-secondary">Mail Us</h6>
              <p><a href="">onineshop@gmain.in</a></p>
              <p><a href=""></a>outdoore village,east street,</p>
              <p><a href=""></a>Bangalore,Karnataka</p>
              <p><a href=""></a>India</p>

          </div>
          <hr class="mt-3">

          <div class="container-fluid">
              <p class="text-center">&copy;2020-2023 privacy policy teams & conditions</p>
          </div>

      </div>
  </div>
</footer>
</body>
</html>